body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  background-image: url('/public/backgroud.png'); /* 替换为您的背景图片路径 */
  background-size: cover;
  background-position: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  background-color: #343a40;
  color: white;
  padding: 1rem;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav ul li {
  margin: 0 1rem;
}

.nav ul li a {
  color: white;
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}
