/* SearchBar.css */
.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  padding-right: 50px; /* 留出空间放按钮 */
}

.search-bar button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}
